@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Poppins', sans-serif;
}

@layer base {
  body {
    @apply bg-white text-gray-900 dark:bg-gray-900 dark:text-white;
  }
}

.content-wrapper {
  @apply relative z-10;
}

.content-wrapper::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}